In [3]:
cars=['suzuki','kia','tata','audi','bmw','landrover','benz']

In [4]:
print(cars)

['suzuki', 'kia', 'tata', 'audi', 'bmw', 'landrover', 'benz']

In [5]:
cars.sort()

In [6]:
print(cars)

['audi', 'benz', 'bmw', 'kia', 'landrover', 'suzuki', 'tata']

In [6]:
len(cars)

8

In [7]:
cars.reverse()

In [8]:
print(cars)

['tata', 'suzuki', 'landrover', 'kia', 'bmw', 'benz', 'audi']

In [7]:

#Introduction to slicing of list

In [9]:
# Note1: Last value is always exclusive
#Note2:So, to include the last value need to increment by 1

In [12]:
students = ['kiran','kumar','mehreen','divya','naveen','abdul','david','karthik']

In [13]:
print(students[0:1])

['kiran']

In [14]:
print(students[0:2])

['kiran', 'kumar']

In [15]:
print(students[2:4])

['mehreen', 'divya']

In [16]:
print(students[4:8])

['naveen', 'abdul', 'david', 'karthik']

In [17]:
print(students[6:8])

['david', 'karthik']

In [18]:
print(students[1:7])

['kumar', 'mehreen', 'divya', 'naveen', 'abdul', 'david']

In [1]:
#---------------------------------------------------Day 4 Repeat class------------------------------#

In [ ]:
List It is collection of items defined in a perticular order, It is mutable

In [28]:
students = ['arun', 'naveed','kiran','farhana','ashwini','senthil','gulafsha']

#arun=0 , ashwini=4, gulafsha=6

In [29]:
students

['arun', 'naveed', 'kiran', 'farhana', 'ashwini', 'senthil', 'gulafsha']

In [4]:
print(students)

['arun', 'naveed', 'kiran', 'farhana', 'ashwini', 'senthil', 'gulafsha']

In [5]:
type(students)

list

In [6]:
#???? How to access the elements from the list?????

In [7]:
students[2]

'kiran'

In [9]:
print(students[2])

kiran

In [11]:
print(students[1])

naveed

In [14]:
#----------Nate: To correct even the format using title
print(students[1].title())

Naveed

In [18]:
print(students[6].title())

Gulafsha

In [20]:
# 
#1. How to add new elements to the list
#2. modify
#3. delete

In [33]:
#Addiinf prasad to the list

students.append('prasad')

In [34]:
students.append('sadath')

In [30]:
students

['arun', 'naveed', 'kiran', 'farhana', 'ashwini', 'senthil', 'gulafsha']

In [31]:
#Adding elements at custom places adding keerthi at second place
students.insert(2,'keerthi')

In [60]:
students.insert(24,'keerthi')

In [48]:
print(students)

['arun', 'naveed', 'keerthi', 'kiran', 'farhana', 'ashwini', 'senthil', 'gulafsha', 'prasad', 'sadath', 'keerthi', 'keerthi', 'keerthi', 'keerthi']

In [49]:
# I want to modify arun with Ram
students[0] = 'ram'

In [50]:
print(students)

['ram', 'naveed', 'keerthi', 'kiran', 'farhana', 'ashwini', 'senthil', 'gulafsha', 'prasad', 'sadath', 'keerthi', 'keerthi', 'keerthi', 'keerthi']

In [52]:
students.remove('keerthi')

In [53]:
print(students)

['ram', 'naveed', 'kiran', 'farhana', 'ashwini', 'senthil', 'gulafsha', 'prasad', 'sadath', 'keerthi', 'keerthi', 'keerthi', 'keerthi']

In [58]:
students.pop()

'keerthi'

In [61]:
print(students)

['ram', 'naveed', 'kiran', 'farhana', 'ashwini', 'senthil', 'gulafsha', 'prasad', 'sadath', 'keerthi']

In [72]:
del students[9]

In [73]:
print(students)

['ram', 'naveed', 'kiran', 'farhana', 'ashwini', 'senthil', 'gulafsha', 'prasad', 'sadath']

In [74]:
# pop is used to delete the last value and return the deleted value
x = students.pop()

In [75]:
print(students)

['ram', 'naveed', 'kiran', 'farhana', 'ashwini', 'senthil', 'gulafsha', 'prasad']

In [76]:
print(x)

sadath