In [1]:
students = ['venky','prasad','basith','ibrahim','gul','sirisha']

In [2]:
print (students)

['venky', 'prasad', 'basith', 'ibrahim', 'gul', 'sirisha']

In [3]:
#--------------Note: Last value is always exclusive so ++++++++++========> increment the index by 1

In [4]:
print(students[0:2])     # venkatesh and prasad

['venky', 'prasad']

In [5]:
print(students[2:4])

['basith', 'ibrahim']

In [6]:
#big list
STUDENTS=['venky', 'prasad', 'basith', 'ibrahim', 'gul', 'sirisha','akhil','ameesh','sam','faiz','kaleem']

In [11]:
print (STUDENTS[0:11:3])  # all in list leaving 2 in between

['venky', 'ibrahim', 'akhil', 'faiz']

In [12]:
print (STUDENTS[2:10:2])

['basith', 'gul', 'akhil', 'sam']

In [13]:
# Implementation of range method

In [14]:
numbers=list(range(0,101))

In [15]:
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
# IQ===How do you print only even numbers from 1 to 20 by using list

In [18]:
even_numbers=list(range(2,101,2))

In [19]:
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [22]:
# printing odd numbers from 1 to 50--------------------

odd_numbers=list(range(1,51,2))

In [23]:
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]